<h5>Gérer les tags</h5> <a href="{% url 'projects:newTag' project.pk %}" class="btn btn-outline-primary btn-sm"><i
		class="fa fa-star"></i> Créer un nouveau tag</a><br><br>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Aperçu</th>
			<th>Administrer</th>
		</tr>
	</thead>
	<tbody>
		{% for tag in project.tag_set.all %}
		<tr>
			<td>{{tag.name}}</td>
			<td><span class="badge badge-{{tag.color}}">{{tag.name}}</span></td>
			<td><a href="{% url 'projects:edit-tag' tag.pk %}" class="btn btn-outline-primary btn-sm"><i
						class="fa fa-pencil-alt"></i> Modifier</a> <a href="{% url 'projects:delete-tag' tag.pk %}"
					class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i> Supprimer</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>