{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h3>Mon profil</h3>
Nom d'utilisateur : {{request.user}}<br>
Adresse e-mail : {{request.user.email}}<br>
Date d'inscription : {{request.user.date_joined | date:"d/m/Y"}}<br>
Role : {% for group in request.user.groups.all %}{{group}}, {% endfor %}<br>
Nombre de projets : {{request.user.membered_projects.count}}<br>
Nombre de tâches : {{request.user.task_set.count}}<br>
<h3>Modifier mon adresse mail</h3>
<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class="btn btn-outline-primary"><i class="fa fa-envelope"></i> Modifier mon adresse mail</button>
</form>
<br>
<br>
{% endblock %}