{% extends 'base.html' %}
{% load project_extra %}
{% load bootstrap4 %}
{% block content %}
<h2>{{project.title}}</h2>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#" data-target="div_tasks" id="link_div_tasks">Taches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-target="div_project" id="link_div_project">Projet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-target="div_members" id="link_div_members">Gérer les membres</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-target="div_update" id="link_div_update">Modifier le projet</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" data-target="div_tags" id="link_div_tags"><i class="fa fa-tags"></i>Gérer les tags</a>
  </li>
</ul>
<div id="div_tasks" style="display:block">
ajouter une tache + liste des taches réparties en colonne + gestion des taches
<a class="btn btn-outline-primary" href="{% url 'projects:newTask' project.pk %}"><i class="fa fa-star"></i> Ajouter une tâche</a>
	<hr>
	<div class="row">
		<div class="col">
			<h3>To do</h3>
			{% for task in todo %}
		<div class="card">
			<div class="card-header">
				{{task.title}}
			</div>
			<div class="card-body">
				<p class="card-text">{{task.description}}</p>
				Papsé par ... Ou bouton Paps
				Tags
			</div>
			<div class="card-footer">
				<a href="#" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil-alt"></i> Modifier</a> <a href="#" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i> Supprimer</a> <div class="btn-group" role="group"><a href="#" class="btn btn-outline-info btn-sm disabled"><</a><a href="{% url 'projects:changeTaskStatus' task.pk 'doing' %}" class="btn btn-outline-info btn-sm">></a></div>
			</div>
		</div>
		{% endfor %}
		</div>
		<div class="col">
			<h3>Doing</h3>
			{% for task in doing %}
	<div class="card">
			<div class="card-header">
				{{task.title}}
			</div>
			<div class="card-body">
				<p class="card-text">{{task.description}}</p>
				Papsé par ... Ou bouton Paps
				Tags
			</div>
			<div class="card-footer">
				<a href="#" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil-alt"></i> Modifier</a> <a href="#" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i> Supprimer</a> <div class="btn-group" role="group"><a href="{% url 'projects:changeTaskStatus' task.pk 'todo' %}" class="btn btn-outline-info btn-sm"><</a><a href="{% url 'projects:changeTaskStatus' task.pk 'done' %}" class="btn btn-outline-info btn-sm">></a></div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col">
		<h3>Done</h3>
		{% for task in done %}

		{% endfor %}
	</div>
</div>
</div>
<div id="div_project" style="display:none">
<table class="table table-striped">
  <tbody>
    <tr>
      <td colspan="2" width="50%">Description</td>
	  <td colspan="2" width="50%">{{project.description}}</td>
    </tr>
    <tr>
      <td>Création</td>
	  <td>{{project.creationDate}}</td>
      <td>Créateur</td>
	  <td>{{project.owner}}</td>
    </tr>
    <tr>
      <td>Projet actif</td>
	  <td>{% if project.active %}Oui{% else %}Non{% endif %}</td>
      <td>Nombre de membres</td>
	  <td>{{project.users.count}}</td>
    </tr>
	<tr>
		<td>Nombre de tâches</td>
		<td>{{project.task_set.count}}</td>
		<td>Nombre de tâches To Do</td>
		<td>{{todo.count}}</td>
	</tr>
	<tr>
		<td>Nombre de tâches Doing</td>
		<td>{{doing.count}}</td>
		<td>Nombre de tâches Done</td>
		<td>{{done.count}}</td>
  </tbody>
</table>
</div>
<div id="div_members" style="display:none">
<br>
<h5>Ajouter un membre</h5>
<form method="post" action="" class="form">
	{% csrf_token %}
	{% bootstrap_form addMemberForm %}
	<button class="btn btn-outline-primary"><i class="fa fa-user-plus"></i> Ajouter le membre</button>
</form>
<hr>
<h5>Passasse de créateur</h5>
Désigner le nouveau créateur (chef de projet):
<hr>
<h5>Liste des membres</h5>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nom d'utilisateur</th>
			<th>Nombre de tâches papsées</th>
			<th>Role</th>
			<th>Administrer</th>
		</tr>
	</thead>
	<tbody>
		{% for member in project.users.all %}
		<tr>
			<td>{{member.username}} {% if member == project.owner %}<i class="fa fa-star"></i>{% endif %}</td>
			<td>{{taken_tasks|index:forloop.counter0}}</td>
			<td></td>
			<td>{% if member != project.owner %}<a class="btn btn-outline-danger" href="{% url 'projects:deleteUserFromProject' project.pk member.pk %}"><i class="fa fa-times"></i> Retirer du projet</a>{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
<div id="div_update" style="display:none">
<br>
<h5>Modifier le projet</h5>
<form action="" method="post" class="form">
	{% csrf_token %}
	{% bootstrap_form projectForm %}
	<button class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i> Modifier</button>
</form>
<br>
<br>
</div>
<div id="div_tags" style="display:none">
	{% include "projects/manageTags.html" %}
</div>

<script>
		$(document).ready(function(){
			prec = "div_tasks"
			$(".nav-link").click(function(){
				$("#" + prec).attr('style','display:none');
				$("#link_" + prec).removeClass("active");
				$("#" + $(this).attr('data-target')).attr('style','display:block');
				$("#link_" + $(this).attr('data-target')).addClass('active');
				prec = $(this).attr('data-target');
			});
		});
	</script>

{% endblock %}
