<div class="card">
    <div class="card-header">{{task.title}}</div>
    <div class="card-body">
        <p class="card-text">{{task.description}}</p>
        {% if task.userAssigned is None %}
        <a href="{% url 'projects:paps' task.pk %}" class="btn btn-outline-warning btn-sm">Paps</a>
        {% else %}
        {% if task.userAssigned == request.user %}
        Papsée par vous (<a href="{% url 'projects:depaps' task.pk %}">Depaps</a>)
        {% else %}
        Papsée par {{task.userAssigned}}
        {% endif %}
        {% endif %}
        <br/>
        {% for tag in task.tags.all %}
        <span class="badge badge-{{tag.color}}">{{tag.name}}</span>
        {% endfor %}
    </div>
    <div class="card-footer">
		<a href="{% url 'projects:change_task' project.pk task.pk %}" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil-alt"></i> Modifier</a>
        <a href="{% url 'projects:deleteTask' task.pk %}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i> Supprimer</a>
        <div class="btn-group" role="group">
            {% if task.status == task.State.TODO %}
            <a href="#" class="btn btn-outline-info btn-sm disabled"><</a>
            <a href="{% url 'projects:changeTaskStatus' task.project.pk task.pk 'doing' %}" class="btn btn-outline-info btn-sm">></a>
            {% elif task.status == task.State.DOING %}
            <a href="{% url 'projects:changeTaskStatus' task.project.pk task.pk 'todo' %}" class="btn btn-outline-info btn-sm"><</a>
            <a href="{% url 'projects:changeTaskStatus' task.project.pk task.pk 'done' %}" class="btn btn-outline-info btn-sm">></a>
            {% else %}
            <a href="{% url 'projects:changeTaskStatus' task.project.pk task.pk 'doing' %}" class="btn btn-outline-info btn-sm"><</a>
            <a href="#" class="btn btn-outline-info btn-sm disabled">></a>
            {% endif %}

        </div>
    </div>
</div>
